@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-brand: #ff7f50;
}

/* Hide scrollbars everywhere (Chrome, Safari, Firefox, Edge) */

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge legacy */
}

*::-webkit-scrollbar {
  display: none; /* WebKit */
}

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: #01030fd3;
}
html,
body {
  overscroll-behavior-x: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-sans);
  color: white;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  overflow-x: hidden;
  touch-action: pan-y;
}

/* APP ROOT */

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* SCROLL AREA */

.mobile-scroll-container {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar */
.mobile-scroll-container::-webkit-scrollbar {
  display: none;
}

.mobile-scroll-container {
  scrollbar-width: none;
}

/* Remove iOS styling from date inputs */

input[type="date"] {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-height: 1.5em;
  width: 100%;
  background: transparent;
}

input[type="date"]::-webkit-date-and-time-value {
  text-align: left;
  margin: 0;
}
